.header {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  height: 8rem;
  padding: 0 2rem;
}

.header__info {
  display: flex;
  gap: 1rem;
}

.header__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__icon-svg {
  color: var(--accent-color);
}

.header__title h1 {
  font-size: 3.25rem;
  color: var(--primary-other);
  margin: 0;
}
