/* ============================
   Utilidades comunes
============================ */

.hidden {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
